<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamal Tours</title>
    <link rel="icon" href="../static/images/jamal_tours.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="../static/styles.css">

    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    
</head>
<body>
    
    <header>
        <a href="#" class="logo">JA<span>MAL</span></a>

        <ul class="navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#tours">Tours</a></li>
            <li><a href="#footer">Contact</a></li>
        </ul>

        <div class="h-right">
            <a href="#">Follow Us</a>
            <a href="https://www.instagram.com/jamal_sight_morocco_?igsh=cWplaW55MWJxYTRt&utm_source=qr"><i class="ri-instagram-fill"></i></a>
            <a href="https://www.facebook.com/jamal.jamaljamal.71697092?mibextid=LQQJ4d"><i class="ri-facebook-fill"></i></a>
            <a href="https://wa.me/212668666473" target="_blank" rel="noopener noreferrer"><i class="ri-whatsapp-fill"></i></a>
            <li><a href="tel:+212668666473"><i class="ri-phone-fill"></i></a></li>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>



    <section class="home">
        <div class="home-text">
            <h5>Explore</h5>
            <h1>Atlas Mountains</h1>
            <h2>Ourika Valley</h2>
            <p>Discover and Book Unique Experiences in Ourika Valley. <br> Find your activity that supplies your dream walk hosted by Jamal. <br>You are accompanied by really good English speaking tour guides.</p>

            <a href="#" class="btn" id="bookTripBtn">Book A Trip</a>
        </div>
    </section>



    <section class="holiday">
        <div class="holiday-img">
            <video src="../static/images/video.mp4" autoplay loop muted playsinline></video>
        </div>

        <div class="holiday-text">
            <h5>Setti-Fadma and <br>The High ATlas Mountains</h5>
            <h2>Ourika Valley</h2>
            <p>Setti-Fatma is the last small town (or douar) which is accessible by the paved route. It is the departure point for many excursions to the nearby mountains. The most prized and most easy hike consists of mounting the length of a mountain torrent in order to discover the waterfalls.</p>
            <p>It's known also for many crafts such as rugs and potteries and also Alabster stone that they use to make many things out of it, we will help you to have an idea about all these elements that are linked to Amazigh culture</p>
            <p><span class="green-text">We will make sure that you have a good car and also great driver</span>.</p>
            
            <p><h4>One-day trip to Ourika</h4></p>
            <p>
                We start driving from Marrakech very early, around 9 pm and  we drive approximately 40 minutes to get to a place named Scorpion (Elagarb) and then we drive 10 minutes to see a local market (souk) in which you can see the local doctor and local Dentist and how they manage to help their patients in a very traditional way and in addition to that the local vegetables and local meat and so on… This option of visiting the souk  is possible only on Monday and Wednesday. 
                <br>We jump in the car again and we drive to a  high hill, where you can see a wonderful view of the region while at the same time enjoying taking pictures and also the brightness of the landscapes.
                <br>Furthermore, we drive for 5 minutes to make the third stop, and we make a visit to an old house where you can feel the charm and hospitality of the Berber family, including the cows at home. Also, you are  going to learn how to make a tea ( Malika the lady in house will give you  a lesson about making a Berber tea. Pictures and videos are allowed, so you are allowed to record the entire process).
                <br>In addition to that, we drive from the Berber house through the old villages and also through out the Ourika river, which links many villages together. It also supplies the needs of agriculture.
                <br>After that, we will go to the centre of Ourika, where you have the options to have a walking distance of approximately 1h30 to see the waterfalls or take a walking distance of approximately 3h. 
                <br>This route is a noisy road and also bit far; That's why you need to be prepared for both walks. 
                <br>As a result of that, the trainers are a must.
                <br>Finally, you will come back to enjoy your meal by the river where you will have a good local tagine  or couscous that is made by a special cooker from the village.
                <p>Argan Cooperative (optional).
                <br>Berber rugs cooperative, in which you learn about how to make carpet and also the stories that they represent by ladies in tribes (optional).</p>
            </p>
            <!-- <a href="#" class="btn">Read More</a> -->
        </div>
    </section>

    <section class="schedule">
        <div class="schedule-table">
            <table>
                <tr>
                    <th>Destination</th>
                    <th>Duration</th>
                </tr>
                <tr>
                    <td>Ourika</td>
                    <td>1 day</td>
                </tr>
                <tr>
                    <td>Yagour</td>
                    <td>2 days, 1 night</td>
                </tr>
                <tr>
                    <td>Regions of Ourika</td>
                    <td>3 days, 2 nights</td>
                </tr>
            </table>
        </div>
    </section>
    

    <section id="tours" class="tour">
        <div class="tour-heading">
            <h2>Tours</h2>
        </div>
    
        <div class="tour-content">
            <div class="tour-item">
                <img src="../static/images/sky.jpg" alt="Tour Image 1">
            </div>
    
            <div class="tour-item">
                <img src="../static/images/hike.jpeg" alt="Tour Image 2">
            </div>

            <div class="tour-item">
                <img src="../static/images/rocks.jpeg" alt="Tour Image 3">
            </div>
    
            <div class="tour-item">
                <img src="../static/images/twilight.jpeg" alt="Tour Image 4">
            </div>

            <div class="tour-item">
                <img src="../static/images/fieldwalk.jpeg" alt="Tour Image 5">
            </div>
    
            <div class="tour-item">
                <img src="../static/images/mountains.jpeg" alt="Tour Image 6">
            </div>

            <div class="tour-item">
                <img src="../static/images/slope.jpeg" alt="Tour Image 7">
            </div>
    
            <div class="tour-item">
                <img src="../static/images/sheep.jpeg" alt="Tour Image 8">
            </div>

            <div class="tour-item">
                <img src="../static/images/waterfall.jpeg" alt="Tour Image 9">
            </div>

            <!-- more -->
            <div class="tour-item">
                <img src="../static/images/ice.jpg" alt="Tour Image 8">
            </div>

            <div class="tour-item">
                <img src="../static/images/lady.jpg" alt="Tour Image 9">
            </div>
            

            <div class="tour-item">
                <img src="../static/images/monkey.jpg" alt="Tour Image 8">
            </div>

            <div class="tour-item">
                <img src="../static/images/bridge.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/pics.jpg" alt="Tour Image 8">
            </div>

            <div class="tour-item">
                <img src="../static/images/girls.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/jamal1.jpg" alt="Tour Image 8">
            </div>

            <div class="tour-item">
                <img src="../static/images/fall.jpg" alt="Tour Image 9">
            </div>

            <!-- more -->
            <div class="tour-item">
                <img src="../static/images/vieww.jpg" alt="Tour Image 8">
            </div>

            <div class="tour-item">
                <img src="../static/images/water.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/cross.jpg" alt="Tour Image 8">
            </div>

            <div class="tour-item">
                <img src="../static/images/group.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/jamal2.jpg" alt="Tour Image 8">
            </div>

            <div class="tour-item">
                <img src="../static/images/woman.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/friends.jpeg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/food.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/sitting.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/compound.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/friends.jpeg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/table.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/smiling.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/cloth.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/fire.jpg" alt="Tour Image 9">
            </div>

            <div class="tour-item">
                <img src="../static/images/together.jpg" alt="Tour Image 9" class="rotate-upright">
            </div>
            
            <div class="tour-item">
                <img src="../static/images/family.JPG" alt="Tour Image 9">
            </div>
            
            <div class="tour-item">
                <img src="../static/images/kids.JPG" alt="Tour Image 9">
            </div>
        </div>
    </section>
    
    
    <!-- <section id="tripadvisor" class="tripadvisor">
        <div class="tripadvisor-content">
            <iframe src="https://www.tripadvisor.com/Attraction_Review-g293734-d27457755-Reviews-Jamal_Ourika_Tours-Marrakech_Marrakech_Safi.html" width="100%" height="600" frameborder="0" style="border:none;"></iframe>
        </div>
    </section> -->

    
    <section id="footer" class="footer">
        <div class="footer-content">
            <div class="footer-logo">JA<span>MAL</span></div>
            
            <div class="footer-social">
                <a href="https://www.insta.com/jamal_sight_morocco_?igsh=cWplaW55MWJxYTRt&utm_source=qr"><i class="ri-instagram-fill"></i></a>
                <a href="https://www.facebook.com/jamal.jamaljamal.71697092?mibextid=LQQJ4d"><i class="ri-facebook-fill"></i></a>
                <a href="https://wa.me/212668666473" target="_blank" rel="noopener noreferrer"><i class="ri-whatsapp-fill"></i></a>
                <li><a href="tel:+212668666473"><i class="ri-phone-fill"></i></a></li>
            </div>
        </div>
            <p>&copy; 2024 Jamal Website. All rights reserved.</p>
        </div>
    </section>
    
    <script src="../static/js/script.js"></script>
</body>
</html>